<div 
    class="bngApp" 
    layout="column" 
    layout-align="start center" style="position: relative; width: 100%; height: 100%;">
    <link 
    type="text/css" 
    rel="stylesheet" 
    href="/ui/modules/apps/enhancedTrafficConfig/app.css" />

    <h1 class="title">
        Enhanced Traffic Configuration
    </h1>

    <form class="enhanced-traffic-config">
        <span class="mult-cat-col">
            <span class="category">
                <label
                    class="category-title"
                    for="etc-ai-mode">
                    Ai Mode
                </label>
                <md-select name="etc-ai-mode" id="etc-ai-mode" ng-model="formStatus.aiMode">
                    <md-option ng-value="opt.val" ng-repeat="opt in formOptions.aiMode">
                        {{opt.txt}}
                    </md-option>
                </md-select>
            </span>

            <span class="category">
                <label
                    class="category-title"
                    for="ai-mode">
                    Ai Awareness
                </label>
                <md-select name="etc-ai-aware" id="etc-ai-aware" ng-model="formStatus.aiAware">
                    <md-option ng-value="opt.val" ng-repeat="opt in formOptions.aiAware">
                        {{opt.txt}}
                    </md-option>
                </md-select>
            </span>
        </span>

        <span class="category">
            <label 
                class="category-title" 
                for="etc-aggression">
                Traffic Aggression
            </label>
            <input 
                class="category-input"
                id="etc-aggression" 
                name="etc-aggression" 
                type="number"
                min="0" 
                max="1" 
                step="0.01" 
                ng-model="formStatus.baseAggression"
                ng-change="onChange()" />
        </span>
        
        <span class="category">
            <label 
                class="category-title" 
                for="etc-drivability">
                Road Drivability
            </label>
            <input 
                class="category-input"
                id="etc-drivability" 
                name="etc-drivability" 
                type="number"
                min="0" 
                max="0.9" 
                step="0.1" 
                ng-model="formStatus.minRoadDrivability"
                ng-change="onChange()" />
        </span>

        <span class="category">
            <label 
                class="category-title" 
                for="etc-random-events">
                Enable Random Events
            </label>
            <input 
                class="category-input"
                id="etc-random-events" 
                name="random-events" 
                type="checkbox" 
                ng-model="formStatus.enableRandomEvents" />
        </span>

        <span class="button-div">
            <input class="md-accent md-raised md-button md-default-them" type="submit" ng-click="onSubmit(formStatus)" value="Save" />
            <input class="md-warn md-raised md-button md-default-them" type="button" ng-click="onReset()" value="Reset" />
        </span>
    </form>
</div>