<link 
    type="text/css" 
    rel="stylesheet" 
    href="ui/modules/apps/enhancedTrafficConfig/app.css" />
<div 
    class="bngApp enhanced-traffic-config" 
    layout="column" 
    layout-align="start center">
    <form class="form">
        <span class="category">
            <label class="category-title" for="aggression">Traffic Aggression</label>
            <input 
                class="category-input"
                id="aggression" 
                name="aggression" 
                type="number" 
                min="0" 
                max="1" 
                step="0.01" 
                ng-model="formStatus.baseAggression" />
        </span>

        <span class="button-div">
            <input type="button" ng-click="onReset()" value="Reset" />
            <input type="submit" ng-click="onSubmit(formStatus)" value="Save" />
        </span>
    </form>
</div>